* {
    margin: 0;
    padding: 0;
}
body {
    /*
    background-color: rgb(111, 87, 151);
    */
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    text-align: unset;
}
li {
    list-style: none;
}
header {
    width: 100%;
    background-color: rgb(75, 156, 223);
    margin: 0 auto;
}
h1 {
    font-size: 1.5em;
    padding-bottom: .5em;
    font-family: 'Bangers', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Lobster', cursive;
}
h4 {
    margin-bottom: 1em;
}
h3 {
    font-size: .7em;
}

/*------------------------NAV INFO---------------------*/
.top-nav {
    letter-spacing: .08em;
}
li a{

}
.name {
    font-size: 1.5em;
    margin: .4em 0;
    padding-top: .3em;
    font-weight: 800;
}
.top-nav ul{
    text-align: center;
}
.top-nav li {
    margin: .28em 1em;
    padding: .4em 2em;
    font-weight: 600;
    font-size: .8em;
    background-color: rgb(176, 182, 174);
}

/*------------STUDENT INFO AREA----------*/
.student-info {
/*
    background-color: rgb(77, 122, 32);
*/
    padding-top: 1em;
}
.img-paragraph {
    padding: .0 1.4em 1em 1.4em;
    font-size: .9em;
}
.img-div {
    text-align: center;
    background-color: lavender;
    width: 70%;
    margin: 10% auto 5%;
}
.developer-img{
    width: 100%;
}

/*------------MAIN CONTENT------------*/
main img{
    width: 80%;
}
.contact {
    padding: 1em 0 0 0;
}

main div {
    margin-top: 1em;
}
main p {
    width: 60%;
    margin: 0 auto;
    font-size: .7em;
}
.contact p{
    width: 90%;
    padding: 2%;
}
.contact-h3 {
    padding-top: 2%;
}
.profile-pics {
    margin-bottom: .5em;
}
.portfolio-divs h2 {
    padding-bottom: .3em;
    font-size: 1em;
}

/*------------FOOTER----------*/
footer {
    background-color: lightblue;
    padding: .5em 0;
}
.footer-hr {
    width: 90%;
    border-top: 2px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.footer-h5 {
    padding-top: .5em;
}*/
.calculator {
    padding-bottom: 10%;
}
.contact-h3 {
    padding-bottom: 1em;
}
footer p {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    font-size: .9em;
}
.email {
    padding-bottom: 10%;
}
.footer-hr {
    padding: 3% 0;
}
.footer-hr a {
    font-size: .7em;
}

footer nav {
    display: none;
}
@media (min-width:768px){
    .grid-1 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "portfolio-1 portfolio-2"
                    "portfolio-3 portfolio-4"
                    "portfolio-5 portfolio-6";
    }
    .portfolio-name {
        grid-area: portfolio-name;
    }
    .portfolio-1 {
        grid-area: portfolio-1;
    }
    .portfolio-2 {
        grid-area: portfolio-2;
    }
    .portfolio-3 {
        grid-area: portfolio-3;
    }
    .portfolio-4 {
        grid-area: portfolio-4;
    }
    .portfolio-5 {
        grid-area: portfolio-5;
    }
    .portfolio-6 {
        grid-area: portfolio-6;
    }
    /*---------------STUDENT-INFO---------------*/
    .top-nav-768{
        text-align: center;
        display: inline-block;
    }
    .top-nav-768 li{
        float: left;
        position: relative;
        background-color: inherit;
    }
    .container-1 {
        display: flex;
        width: 100%;
    }
    .box-1 {
        flex: auto;
        width: 50%;
        order: 2;
        background-color: inherit;
    }
    .developer-img {
        width: 80%;
    }
    .box-2 {
        flex: auto;
        width: 50%;
        order: 1;
        justify-self: center;
        align-self: center;
    }
    .img-paragraph {
        font-size: 1.1em;
        padding-right: 0;
    }
    .footer-hr {
        display: none;
    }
    .bottom-nav {
        display: inline-block;
    }
    .bottom-nav li{
        float: left;
        padding-right: 10px;
    }
    .bottom-nav {
        display: flex;
    }
    .bottom-nav li, h1{
/*
        border: 3px red solid;
*/
    }
    .email {
        border-bottom: 2px black solid;
        padding-bottom: 20px;
    }
    .info-para {
        width: 60%;
    }
    .container-2 {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .box-3 {
        order: 1;
        justify-self: self-start;
        padding-left: 10px;
    }

    .box-4 {
        order: 2;
        align-self: center;
    }
}
@media (min-width:1024px){

/*-------------STUDENT INFO/NAV-------------*/
.container-2 {
    display: flex;
}

.box-5 {
    width: 300px;
}
.box-6 {
    padding-right: 0;
}
.top-nav li{
    padding: 0;
}
.container-1 {
    height: 300px;
    display: inline-flex
}
.img-div {
    margin: 0;
    height: 100%;
}
.developer-img {
    max-height: 80%;
}
footer p {
    padding: 1% 0;
}

}